<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="utf-8">
  <title>Baza potraw</title>
  <link rel="StyleSheet" href="static/main.css" type="text/css">
  <script src="static/script.js"></script>
</head>

<body onload="show_ingredients()">
  <header>
    Baza potraw
  </header>

  <nav>
    <h1>Nawigacja</h1> <br>
    <a onclick="show_ingredients()" style="text-decoration-line: underline;">Składniki</a>
    <a onclick="show_add()" style="text-decoration-line: underline;">Dodaj</a>
  </nav>

  <section id="SPA">
  </section>
</body>

</html>
